<div class="row">
  <div class="col-md-6">
    <h2 data-public-code="{{public_code}}">{{title}}</h2>
    <p>This campaign has generated <strong>{{tweets}}</strong> tweets</p>
    <p>{{{description}}}</p>
    <hr />
    <a href="/campaign/{{public_code}}/edit" style="color: #ccc; font-size: 11px;">Edit this campaign</a>
  </div>
  <div class="col-md-6">

    <h3>What will we be tweeting?</h3>
    <blockquote id="campaign-tweet-text">{{tweet_text}}</blockquote>
    <h3>Find my legislators!</h3>
    <div class="row">
      <div class="col-md-6">

        <form class="zipcode-form" action="" method="">
          <div class="input-group">
              <input type="text" class="form-control zipcode-input">
              <span class="input-group-btn">
                <input class="btn btn-default" type="submit">Go!</button>
              </span>
          </div>

        </form>
      </div>
    </div>
    <hr />
    <div class="row">

      <div class="col-md-12">
        <div class="target-tweets-container">
        </div>
      </div>
    </div>
  </div>

</div>

<script type="text/template" id="target-tweet-template">


  <div class="row">

    <div class="col-md-2">
      <img class="target-profile" src="/imgs/congress/<%=target.bioguide_id%>.jpg" />
    </div>
    <div class="col-md-10">
      <div class="tweet-container">
        <textarea class="tweet-text"><%= message %>  @<%=target.twitter_id%></textarea>
        <a href="https://twitter.com/intent/tweet?status=<%= message %>  @<%=target.twitter_id%>" class="tweet-this btn btn-default pull-right btn-sm">Tweet @<%=target.twitter_id%></a>
      </div>
    </div>
  </div>
  <hr />
</script>
