<h2>Updating {{title}}</h2>
<p>When updating, use the password that you chose when creating this campaign</p>
<form role="form" action="/campaign/{{public_code}}/edit" method="post">
  <div class="form-group">
    <label for="">Title</label>
    <input type="text" value="{{title}}" name="title" class="form-control" placeholder="Title">
  </div>

  <div class="form-group">
    <label for="">Description (markdown enabled)</label>
    <textarea style="min-height: 90px;" class="form-control" name="description" placeholder="Message">{{description}}</textarea>
  </div>
  <div class="form-group">
    <label for="">Tweet Text</label>
    <input type="text" name="tweet" value="{{tweet_text}}" class="form-control" placeholder="Tweet Text">
  </div>
  <div class="form-group">
    <label for="">Password</label>
    <input type="password" name="password" class="form-control" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-default">Update</button>
</form>
