<div class="row">
  <div class="col-md-6">
    <h3>Easily create Twitter campaigns that target US legislators</h3>
    <p>Mention bin allows anyone to create a campaign page, that lets people target their legislators with a custom message</p>
    <ul>
      <li>Free and no registration required</li>
      <li>Simply click "Create Campaign" in the top right</li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3>Featured Campaign</h3>
    <p>Check out a campaign to <a href="/campaign/shut-the-back-door">shut the backdoor</a></p>
  </div>
</div>
