<div class="row">
  <div class="col-md-6">
    <h3>Create Twitter campaigns that target US legislators</h3>
    <p>Mention bin allows anyone to create a campaign page, that lets people target their legislators with a custom message</p>
    <ul>
      <li>Get Congress's attention over Twitter</li>
      <li>Free and no registration required</li>
      <li>Simply click "Create Campaign" in the top right</li>
      <li>Set a password if you would like to edit it later</li>
    </ul>
    <h3>Allow people to instantly tweet their representatives</h3>
    <img src="https://i.imgur.com/KYuDoXZ.png" />
    <p>Check out this fun and simple campaign example where you can <a href="https://mentionbin.com/campaign/28136c03">thank your representatives</a></p>
    <h3>Open Source</h3>
    <p>Mention Bin is an open source project from <a href="https://taskforce.is">Taskforce.is</a>.
      <br />
       Feel free to <a href="https://github.com/tfrce/mentionbin">contribute on Github</a>.</p>
       <div class="share-buttons">

          <a data-network="twitter" href="https://twitter.com/intent/tweet?status=Mention Bin - Instantly create Twitter campaigns that target US legislators https://mentionbin.com" count="0" target="_blank" class="twitter-button social-count twlinkthis" >
          <div class="sicon" id="stwit"></div>
          </a>
              <a href="https://www.facebook.com/sharer/sharer.php?u=https://mentionbin.com&display=popup" data-network="facebook" count="0" target="_blank" class=" social-count facebook-button fblinkthis">
              <div class="sicon" id="sfb"></div>
          </a>
          <a count="0" href="https://plus.google.com/share?url=https://mentionbin.com" data-network="googleplus" target="_blank" class="social-count google-button gpluslinkthis">
            <div class="sicon" id="sgplus"></div>
          </a>
        </div>
  </div>
  <div class="col-md-6">
    <h3>Featured Campaign</h3>
    <a href="/campaign/shut-the-back-door" style="width: 300px; float: left; border: 1px solid #888; text-decoration: none">
      <img src="https://i.imgur.com/yAx5j8v.jpg" style="width: 100%; "/>
      <p style="text-align: center;color: #444;line-height: 30px;font-size: 18px;margin: 0;">Shut The Backdoor</p>
      <p style="font-size: 11px;text-align: center;width: 80%;margin: auto;margin-bottom: 10px;color: #888;">Congress is voting on a critical amendment that would curb the NSA's surveillance of the Internet.</p>
    </a>

  </div>
</div>
